<section class="container text-center">
    <div class="top-title top-space">
        <h1>TaskWatch</h1>
    </div>
</section>
<section class="text-center top-space reverse">
    <div>
        <h3>TaskWatchとは</h3>
        <p class="top-sub-title">あなたのタスクの状態・期限を見える化するアプリです</p>
    </div>
</section>
<section class="container text-center top-space">
    <h3>TaskWatchで出来ること</h3>
    <div class="row mt-5">
        <div class="col-md-4">
            <div>
                <i class="fas fa-list fa-5x"></i>
            </div>
            <div>
                <p>複数タスクリスト管理</p>
                <p>勉強や仕事など複数のタスクリストを登録可能です</p>
            </div>
        </div>
        <div  class="col-md-4">
            <div>
                <i class="fas fa-align-left fa-5x"></i>
            </div>
            <div>
                <p>進行中タスク一覧</p>
                <p>状態が「進行中」のタスクを一覧で表示します</p>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <i class="far fa-clock fa-5x"></i>
            </div>
            <div>
                <p>カウンドダウンタイマー</p>
                <p>タスクの期限までの時間をカウントダウンで表示します</p>
            </div>
        </div>
    </div>
</section>
