<section>
    <div>TaskWatch</div>
</section>
<section>
    <div>サービス紹介文</div>
</section>
<section>
    <div>
        <div>
            <div>アイコン</div>
            <div>サービス1</div>
        </div>
        <div>
            <div>アイコン</div>
            <div>サービス2</div>
        </div>
        <div>
            <div>アイコン</div>
            <div>サービス3</div>
        </div>
    </div>
</section>
