<section class="container text-center">
    <div class="top-title top-space">
        <h1>TaskWatch</h1>
    </div>
</section>
<section class="container text-center top-space">
    <div>
        <p class="top-sub-title">TaskWatchとは</p>
        <p>抱えているタスクと締め切りまでの時間を見える化するアプリです</p>
    </div>
</section>
<section class="container text-center top-space">
    <h3>TaskWatchで出来ること</h3>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-4">
            <div>アイコン</div>
            <div>
                <p>タスクリストの複数管理</p>
                <p>ルーチンワークなど複数のタスクリストを登録可能です</p>
            </div>
        </div>
        <div  class="col-sm-12 col-md-4">
            <div>アイコン</div>
            <div>
                <h5>
                </h5>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div>アイコン</div>
            <div>サービス3</div>
        </div>
    </div>
</section>
