<h1>TaskList#index</h1>
<p>Find me in app/views/task_list/index.html.erb</p>
<% a = "aaaaa" %>

<% b = "bbbbb" %>
<% @task_lists.each do |task_list| %>
    <div>
        <%= task_list.name %>
    </div>
<% end %>