<section class="container">
    <table class="mt-3">        
        <tr class="border-bottom">
            <th>タスクリスト名</th>
            <th>タスク名</th>
            <th>期限</th>
        </tr>
        <% @tasks.each do |task| %>
            <tr class="border-bottom">
                <td class="my-3 py-3"><%= link_to task.task_list.name, "/task_lists/show/#{task.task_list_id}" %> </td>
                <td class="my-3 py-3"><%= link_to task.name, "/tasks/#{task.id}" %></td>
                <td class="my-3 py-3"><%= convert_date(task.dead_line) %></td>
            </tr>
        <% end %>
    </table>
</section>
    
