/*
    _header.html.erb
*/

.top-title {
    font-size: 2rem;
    padding: 10rem;
}

.header-text {
    font-size: 1.5rem;
}

.bg-header {
    background-color: lightseagreen
}

/*
    static_pages/top.html.erb
*/

.top-space {
    padding: 20rem 5rem;
}

.top-sub-title {
    font-size: 1.2rem
}

/*
    task_lists/index.html.erb
*/


/*
    共通クラス
*/

//ボタン

.btn {
    padding: 0.5rem;
    padding: 0.5rem;
    border: 1px solid;
    background-color: white;
    &.standard{
        color: lightseagreen;
        border-color: lightseagreen;
    }

    &.delete{
        color: lightcoral;
        border-color: lightcoral;
    }
}

.form {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

//メッセージ

.msg {
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid;
    &.standard {
        color:  white;
        background-color: #FFB032;
    }

    &.error {
        color:  white;
        background-color:#DD4A58;
    }


}