/*
    _header.html.erb
*/

.top-title {
    font-size: 2rem;
    padding: 10rem;
}

.header-text {
    font-size: 1.5rem;
}

.bg-header {
    background-color: lightseagreen
}

/*

共通クラス

*/

.top-space {
    padding: 20rem 5rem;
}

.sub-title {
    font-size: 1.5rem
}