
<header>
    <div class="container d-flex justify-content-between">
        <div>
            <div>
                <%= link_to "TaskWatch", "/" %> 
            </div>
        </div>
        <div class="d-flex">
            <div>
                <%= link_to "進行中タスク一覧", "/tasks/progress" %> 
            </div>
            <div>登録タスク一覧</div>
            <div>ログイン/ログアウト</div>
        </div>
    </div>
</header>